<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
        <script src="https://unpkg.com/vue"></script>
    </head>
    <body>
        <section class="section">
            <div id="app" class="container">
                <div class="field has-addons has-addons-cenetered">
                    <p class="control">
                            Break app for &nbsp;
                    </p>
                    <p class="control">
                        <input class="input" v-model="duration" />
                    </p>
                    <p class="control">
                        &nbsp;seconds.
                    </p>
                </div>
                
                
                
                <button class="button is-primary" @click="breakApp">Break</button>
                <p v-html="serverMessage"></p>
            </div>
        </section>

        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    duration: 2,
                    serverMessage: ''
                },
                methods: {
                    breakApp: function() {
                        fetch('/break', {
                            method: 'POST',
                            body: JSON.stringify({
                                duration: this.duration
                            }),
                            headers: new Headers({
                                'Content-Type': 'application/json'
                            }),
                            credentials: 'same-origin'
                        })
                        .then(response => {
                            this.serverMessage = 'Broken!'
                        })
                    }
                }
            })
        </script>
    </body>
</html>
